.i {
    display: flex;
    width: 300px;
    margin: auto;

}

.p1{
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.res{
    padding: 10px 20px;
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
    border-radius: 4px;
    font-weight: bold;
    font-size: large;
}

.res:hover {
    background-color: rgb(124, 56, 188);
}
